.conts{
	height: 150px;
	width: 1100px;
	padding: 20px;
}
.right-cont p{
	font-size: 18px;
	line-height: 30px;
}
.imgs{
	height: 200px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.down{
	height: 150px;
	width: 1100px;
	padding: 20px;
}
.img2{
	width: 500px;
	height: 200px;
}